<!DOCTYPE html>
<html>
<!--ctrl+shift+v to render preview-->

<body>
    <h1>Feed</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
    <br><br>
    {% for post in posts %}
    <li>-------------------------------------------------------------------</li>
    <li>post by {{ post.username }}</li>
    <li>Theme: {{ post.feed_theme }}</li>
    {% if post.picture is not none %}
    <img src="{{ post.file_folder + post.picture }}" width="300" height="300">
    {% endif %}
    <li>{{ post.feed_text }}</li>
    <li>-------------------------------------------------------------------</li>
    <br><br><br><br>
    {% endfor %}

    <br><br><br><br>
    <div class="container">
        <br><a href="/"> Log in here!</a>
    </div>

</body>

</html>