<!DOCTYPE html>
<html>
<!--ctrl+shift+v to render preview-->

<body>
    <h1>Sign up!</h1><br><br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
    <br><br>


    <form action="/passwordchange" method="POST">
        Old password:<br>
        <input type="text" name="password0" value=""><br>
        New password:<br>
        <input type="text" name="password1" value=""><br>
        New password:<br>
        <input type="text" name="password2" value=""><br>
        <input type="submit" value="change password">

        <div class="container">
            <br><a href="/profile">back</a>
        </div>

    </form>

</body>

</html>